[2022-05-15 10:05] joka921 commented on #616
This has been fixed as a part of #648.
Please try out again:
[](https://qlever.cs.uni-freiburg.de/wikidata/ZrNcaM)

The number is now formatted as an integer in the UI and in the exported downloads which is
the expected and desired behavior.

[2022-05-15 10:05] #616 closed

[2022-05-15 12:48] joka921 commented on #630
Ok, so in summary:
1. Qlever's Index structure is not yet stable, there still are several changes planned. We should consider reporting this early on ("QLever's index format has changed, please rebuild the index" instead of some random assertion fail. And we should also note the changing index format in the documentation and quickstart guides.

2. Typically when the IndexBuilder crashes it used to

[2022-05-15 12:53] joka921 commented on #474
I have minimized the nonworking example to the following query:
[code]

and I have already found the problem (that assertion should be `<= 1` instead of `==0` to not wrongly fail in some special cases when no triples are found for a certain predicate.
I am working on fixing this.

[2022-05-15 14:41] joka921 commented on #234
In the meantime our Server is fact based on Beast, so this can be closed.

[2022-05-15 14:41] #234 closed

[2022-05-15 14:45] joka921 commented on #327
Update:
The `bad_alloc` is gone, but we still have the wrongly empty result on any prefix filter that starts with
`"^<`. I think the `bad_alloc` was fixed in connection with a similar error when filtering for all literals discovered by Claudius some time ago.

[2022-05-15 14:52] joka921 commented on #236
Update:

We finally are making progress on this. We already have a complete grammar and the  and it is now assigned to @Qup42

[2022-05-15 15:06] joka921 commented on #255
I am currently going through many old issues to check if they still have relevance.

* Qlever could in principle store the not only the mapping from entity to the texts that contain those entities but additionally the start and end markers. This would require changes not only internally, but also in the input format. If we want to implement this, we should make this option configurable, as it woul

[2022-05-15 22:16] #474 closed

[2022-05-18 16:10] joka921 commented on #451
There is no clear consensus on this, and it does not concern QLever but rather the qlever UI, so I'm closing this.

[2022-05-19 11:15] WolfgangFahl commented on #630
@joka921  and @hannahbast
thank you for handling this issue. I think the issue's title "Several problems on Wolfgang's machine" is fully misleading.

Whether a software works or not IMHO has not much to do with who it the owner of the hardware or what the age of the hardware is. This is especially true when using virtualization environments such as docker or VmWare which i happily applied as instr

[2022-05-19 12:35] WolfgangFahl commented on #634
Let's try the current state:
First for wikidata query service endpoint of wikimedia foundation:
[code]
## AcademicConferenceItemLabel

### query
[code]
[try it!](None/#%23%20get%20the%20label%20for%20the%20given%20item%0ASELECT%20%3FitemLabel%0AWHERE%0A%7B%0A%20%20VALUES%20%28%3Fitem%29%20%7B%0A%20%20%20%20%28wd%3AQ2020153%29%0A%20%20%7D%0A%20%20%3Fitem%20rdfs%3Alabel%20%3FitemLabel.%0A%20%20filte

[2022-05-19 12:38] WolfgangFahl commented on #634
end then qlever:
[code]

sparql:
# get the label for the given item
SELECT ?itemLabel
WHERE
{
  VALUES (?item) {
    (wd:Q2020153)
  }
  ?item rdfs:label ?itemLabel.
  filter (lang(?itemLabel) = "en").
}

querymain.py: KeyError('head')
Traceback (most recent call last):
  File "/Users/wf/Library/Python/3.9/lib/python/site-packages/lodstorage/querymain.py", line 197, in main
    QueryMain.main(args

[2022-05-19 12:39] WolfgangFahl commented on #634
see https://github.com/WolfgangFahl/pyLoDStorage/blob/master/sampledata/wikidata.yaml

[2022-05-19 13:47] joka921 commented on #634
Please tell us, how to reproduce this.
you use a command `sparqlquery` which obviously is not a standard linux tool, but seems to use the sparql wrapper internally, which seems to not set appropriate accept header.
Can you please send us detailed instructions as to how to reproduce this behavior, or send us the exact HTTP request which your tools send.

[2022-05-19 13:51] joka921 commented on #379
This is not up to date anymore as we will need two operations with different Semantics: "Sort" is sorting on internal IDs for joining whereas  "ORDER BY" is the sorting according to the actual values of the IDs such that end users get the desired order.

[2022-05-20 08:41] WolfgangFahl commented on #634
see https://wiki.bitplan.com/index.php/PyLoDStorage#Installation
[code]

[2022-05-20 11:09] WolfgangFahl commented on #562
see also https://wiki.bitplan.com/index.php?title=QLever%2Fscript&type=revision&diff=15558&oldid=15295

[2022-05-21 07:04] WolfgangFahl commented on #636
@joka921  i have used
[code]
from my script that makes things reproducible this time (which has the recursive cloning)
see:
https://wiki.bitplan.com/index.php/WikiData_Import_2022-05-21
the ninja compile runs thru

make test from https://github.com/ad-freiburg/qlever/blob/master/Dockerfiles/Dockerfile.Ubuntu20.04 does not work.
Therefore i did the library installation steps.

i'd love to get instr

[2022-05-21 07:04] #636 closed

[2022-05-21 11:08] WolfgangFahl commented on #608
Another try today and still:
<img width="307" alt="grafik" src="https://user-images.githubusercontent.com/1336221/169648964-84e5bc45-562b-415d-b891-a6058763f3cf.png">

[2022-05-21 11:16] WolfgangFahl commented on #608
[code]

[2022-05-21 13:05] hannahbast commented on #615
@anlam If you want the whole dataset, isn't the right thing to download it from Wikidata: https://dumps.wikimedia.org/wikidatawiki/entities/ ?

In principle, you can of course download the whole dataset with `CONSTRUCT { ?s ?p ?o } WHERE { ?s ?p ?o }`, and it works, but I don't think that's a proper use of a SPARQL endpoint

[2022-05-21 13:10] hannahbast commented on #608
@WolfgangFahl QLever still does not support "a", just type the equivalent "rdf:type".

@Qup42 is currently working on a proper SPARQL parser, so "a" should work soon.

[2022-05-21 13:20] joka921 commented on #608
@WolfgangFahl
1. As already stated, you should use the "official" QLever UI, and we should maybe throw this really old rudimentary page out.
2. The latest version of the QLeverUI properly propagates the error messages for 4xx and 5xx return codes: [https://qlever.cs.uni-freiburg.de/wikidata/35s0Qj](https://qlever.cs.uni-freiburg.de/wikidata/35s0Qj)
3. The issue of the `a` is already being adressed

[2022-05-21 23:36] Qup42 commented on #608
Point 3 has also been fixed with #669

[2022-05-22 00:20] hannahbast commented on #608
Awesome @Qup42 thanks!

[2022-05-24 05:12] WolfgangFahl commented on #563
https://wiki.bitplan.com/index.php/WikiData_Import_2022-05-22 ended with the prefix tree generation.
The script ended with the message:
[code]
and the files:
[code]
it seems no prefix compression has been done - is that a separate step now?

[code]

[2022-05-26 14:52] tuukka opened #673 "Some queries DoS the backend, frontend hangs"
Some of our queries seem to crash the backend, which results in a denial-of-service for all users. Also, in this case the frontend looks like the query is still executing (the spinner keeps turning).

Here's links to some of our problematic queries: tom-james-watson/wikitrivia#26

[2022-05-26 15:55] hannahbast commented on #673
@tuukka @nicolaes Thanks a lot for pointing this out to us! I looked at the query, and it's a combination of three problems:

1. We were making some experiments and temporarily configured QLever to operate with 70 GB of main memory, but on the machine only ~ 50 GB of main memory were available. So any query going to the limits would crash the backend. I have fixed that now. (When QLever crashes it

[2022-05-26 17:14] tuukka commented on #673
Thank you for the quick reply and help!

Re 1: Could you additionally configure the backend service so that it automatically restarts after a crash?

Re 2: Here's another one of the queries that crashed - is it the same issue or something else causing the crash here? https://qlever.cs.uni-freiburg.de/wikidata/uBQWSn

Re 3: If I recall correctly, the server replied to the query with a 404 error. Pe

[2022-05-26 17:25] hannahbast commented on #673
@1: That *is* the normal configuration, it just experimentally ran otherwise in the last days (and still does currently), but we will revert to the auto-restart mode today or tomorrow.

@2: We will investigate, thanks!

@3: Yup, I think that's the problem, will fix that!

[2022-05-28 02:24] hannahbast commented on #673
@tuukka @nicolaes Here is a quick update

@ Romanian query: The problem QLever had with that query ran a bit deeper and we are still working on that. But what's probably more interesting for you is that your original query did not make sense because it gives an empty result because a Wikidata entity can have a *subset* of the many properties in the query, but never all of them. A more meaningful v

[2022-05-28 13:45] hannahbast commented on #563
@WolfgangFahl How much main memory did that machine have? When the indexer ends prematurely, it's almost always because it runs out of memory (if the operating system's out-of-memory-manager killed the process, that can happen without an error message) or because of a too low number for `ulimit -Sn` (then you get an error message which says something in that vein).

Note that the `qlever` script n

[2022-05-28 14:00] WolfgangFahl commented on #563
The machine had 128 GB RAM and was the same that successfully ran the attempt of January. In fact the January attempt indexed on a 64 GB machine. IMHO it is a bug if the indexer silently crashes without notice when running out of memory and we'll not no the reason for crashes if the software is not robust enough to monitor it's own state and know why a failure is imminent or has happened.

After 5

[2022-05-28 14:28] joka921 commented on #563
Hi,
There is only 1 element in the external vocabulary, so the prefix compression runs out of memory. I agree that we could try to handle this more gently.
The problem in your concrete case seems to be that the `wikidata.settings.json` seems to have the wrong contents. The "official" one sets appropiate externalization and also a default locale (the locale is not super important, but it helped me

[2022-05-28 15:06] hannahbast commented on #563
@WolfgangFahl @joka921 The 'qlever' script also supports a variable for the `settings.json`. If you do `. qlever wikidata` in a directory without a Qleverfile, you get a Qleverfile with, in particular, the following line:

[code]

With the `qlever` script, building a Wikidata index from a fresh Wikidata dump is really easy now. All you have to do is something like this (which doesn't need any supe

[2022-05-28 15:11] hannahbast commented on #563
@joka921 Can you briefly explain again why it's hard for a C++ program to avoid being killed by the out-of-memory manager? I think that many people imagine that it's just a matter of asking "how much memory is left on the machine" and if not enough memory is left, adjusting accordingly.

Is the problem, in a nutshell, that there is no reliable way to get a truthful answer to the question "how much

[2022-05-28 15:31] hannahbast commented on #563
Maybe Wolfang was still using the old instructions on https://github.com/ad-freiburg/qlever/blob/master/docs/quickstart.md ? They do include a correct `wikidata.settings.json`, but with a rather large batch size of 50M. I just created a PR which changes that to 10M and includes the `ulimit -Sn 1048576` in the command line for building the index. Please check and approve.

[2022-05-28 17:48] joka921 commented on #563
Okay,
1. The problem especially on Linux is the socalled "overcommit" of Memory aka "malloc never fails". If you allocate too much memory, the OS will not complain but give you a valid pointer to some (virtual!) address. Only once you actually write to too many of the memory pages you have allocated, the OS at som point says "This is too much memory that is ACTUALLY used" (not only allocated), I w

[2022-05-29 13:33] tuukka opened #676 "Augment Wikidata graph with ranking information better than the sitelinks count"
Would it be easy to add some ranking information (triples) to the Wikidata endpoint? This has been discussed for years elsewhere, but I'm not aware of a query endpoint that would provide this yet. Here's two open-sourced rankings that I could find:

QRank (pageviews): https://qrank.wmcloud.org/
Danker (PageRank): https://danker.s3.amazonaws.com/index.html

[2022-05-29 13:34] tuukka commented on #615
`SELECT (?queryVariable AS ?resultVariable)` does not give an error but produces an empty variable.

[2022-05-29 13:51] hannahbast commented on #615
@tuukka Can you provide a complete query?

[2022-05-29 13:54] tuukka commented on #673
Is this a typo in the code?
[code]

[2022-05-29 13:59] hannahbast commented on #676
Adding triples for ranking would be rather easy, but I have a question:

We always use `^schema:about/wikibase:sitelinks` for ranking. This counts the number of Wikimedia pages of an entity and is a very good proxy for popularity (and a much better proxy than, for example, the number of triples an entity is involved in). For example, here is a list of all people in Wikidata ranked by the number of

[2022-05-29 14:01] hannahbast commented on #673
For which query (on which instance) did you get this result?

[2022-05-29 14:18] tuukka commented on #676
I am using the sitelinks count but I see it as just one metric:
* sitelinks measures how "global" the notability and interest towards a topic is among Wikimedia contributors
* pageviews measures how much readers a topic has among the general public
* PageRank measures the "centrality" and connectedness of the topic in the Wikimedia graph

My current use case is reimplementing [wikitrivia-generator

[2022-05-29 14:26] tuukka commented on #673
This was last night, approximately an hour before midnight UTC. Unfortunately I didn't save more details.

[2022-05-29 14:31] hannahbast commented on #676
@tuukka Do you have a demo of what the wikitrivia-generator does? Without fully understanding yet, what you want, a viable approach might be:

1. Get the appropriate subset from Wikidata via a `CONSTRUCT` query
2. Build a QLever instance for that subset
3. Ask queries to that instance

Don't be afraid of building and running a qlever instance, it's as simple as this in a directory with a TTL file

[2022-05-29 14:36] tuukka commented on #615
Example (should produce 192 nation states, produces 192 empty rows): https://qlever.cs.uni-freiburg.de/wikidata/qphky4

Of course, it's easy to work around by search-and-replace of ?queryVariable with ?resultVariable, but it's a reason why some queries from WDQS don't work directly in QLever.

[2022-05-29 14:39] hannahbast commented on #673
First step: Reload https://qlever.cs.uni-freiburg.de (F12 to open the Developer Console, Network -> Disable Cache, F5).

Let us know when you encounter the error again.

[2022-05-29 14:49] hannahbast commented on #615
Thanks, that looks like one of the many deviations from the SPARQL 1.1 standard, which we are currently fixing.

@Qup42 @joka921 What do you think?

As a quick workaround, BIND is your friend and this equivalent query gives you the desired result: https://qlever.cs.uni-freiburg.de/wikidata/HOuTUH

[2022-05-29 14:59] tuukka commented on #676
Here's the original game: https://wikitrivia.tomjwatson.com/

Here's the game data file as produced by wikitrivia-generator (in English, with items that were once generated and never updated, as it's too much hassle): https://wikitrivia-data.tomjwatson.com/items.json

So far, some people seem to have been able to fork the script and run it in their own language with more or less success: [Basque](

[2022-05-29 19:41] hannahbast commented on #676
Thanks for the explanation, now I understand. For this kind of application, asking a Wikidata SPARQL endpoint from time to time seems to be the method of choice.

But isn't then a query like https://qlever.cs.uni-freiburg.de/wikidata/m76Lrg doing exactly what you need? It works for any language and takes 20 - 30 seconds.

[2022-05-30 08:16] WolfgangFahl commented on #563
Thank you for the lively discussion.
Please reply at https://github.com/ad-freiburg/qlever/discussions/668 for how I should proceed.

[2022-05-30 09:19] LorenzBuehmann opened #678 "OSM Planet - Examples and geospatial features current status"
It's more a general question, but is the geospatial support still deployed on the public QLever instance? And did you change the OSM data model somehow? I'm asking because I tried some queries from the examples, e.g.

### Query
[code]
which fails with
[code]

### Query:
[code]
fails with
[code]

### Query
[code]
doesn't really run according to the UI, but I expect an error not even shown in the UI

[2022-05-30 09:41] LorenzBuehmann commented on #360
Hi, I guess we have to reopen this issue. You made a small mistake in the SPARQL JSON format, you're returning

[code]
but in fact the format specifies only the type `uri` and not `iri` because of legacy reasons.

[2022-05-30 09:54] joka921 commented on #360
You have a very good timing. We have discovered the same bug among others (Variables are "someVariable" and not "?someVariable" and blank nodes were returned as literals) at the end of last week. I have drafted a quick fix this morning which we will hopefully merge soon (#677)

[2022-05-31 05:50] LorenzBuehmann commented on #642
@hannahbast minor comment regarding 1.
This only works if there aren't blank nodes in multiple files with the same bnode label. The scope of a blank node is by definition just document local, but in case of just concatenating N-Triples or Turtle files, this could indeed lead to unintended data loaded into QLever.

[2022-06-01 22:41] hannahbast commented on #678
Thank you for these questions and queries, Lorenz, I will reply to them one comment at a time.

Concerning your first query ("contains envelope"): This was realized using #413, which is based on an old version of QLever, where values used to be implemented very inefficiently as strings. In the meantime, QLever's handling of values has been completely refactored and is now much more efficient, see

[2022-06-01 22:48] hannahbast commented on #678
Concerning your second query ("the 16 states of Germany, selected via their ISO3166-2 code"): In your query, the quotation mark in the REGEX was not escaped. If you escape it, the query works: https://qlever.cs.uni-freiburg.de/osm-planet/C76hnG

We are aware that according to the SPARQL standard, the REGEX should actually be  `"^DE-"` and not `"^\"DE-"`. This is very easy to fix (but needs some ca

[2022-06-01 23:44] hannahbast commented on #678
Concerning your third query ("all castles in Switzerland"): As explained in the [osm2rdf paper](https://ad-publications.cs.uni-freiburg.de/SIGSPATIAL_osm2rdf_BBKL_2021.pdf), the `ogc:contains` predicate (which would be enormous if materialized) is realized via two separate and manageable predicates `osm2rdf:contain_area` and `osm2rdf:contains_nonarea`, which are joined at runtime according to the

[2022-06-01 23:58] hannahbast commented on #678
Concerning your fourth query ("all highway road segments"): ´osm2rdf` has various options to control which of these triples are produced: https://github.com/ad-freiburg/osm2rdf/blob/master/src/config/Config.cpp#L86-L110 . In the instances that currently run on https://qlever.cs.uni-freiburg.de, these triples have not been added. Do you need them or were you just curious?

[2022-06-01 23:59] hannahbast commented on #678
Concerning your fifth query ("all 16 states of Germany" on OSM Planet): I have changed the name of this example query :-)

[2022-06-02 08:44] bulvara opened #683 "Build failure in SetOfIntervals.cpp on GCC12"
[code]

Compiler: gcc 12

[2022-06-02 09:08] bulvara opened #684 "Make usage of local libraries possible"
My distro is very good at packaging. It would be a nice improvement to be able to use my local libraries
[code]

[2022-06-02 12:01] joka921 commented on #683
Thanks for reporting this. That is only a small bug which is already fixed in the mentioned PR #685 but there are still some oddities which I have to figure out. But if you want to, you can already try that PR.

[2022-06-02 12:26] joka921 commented on #683
Thanks. Adding a new compiler is always a little bit more work than you might think. There are some submodules/dependencies involved which often need some work to remove Warnings etc.

[2022-06-03 06:08] LorenzBuehmann commented on #678
Good morning ? (according to your 2am responses ...) @hannahbast

First of all, many thanks for the helpful comments and bug fixes already.

My questions have been mostly out of curiosity as I'm playing around with OSM data and GeoSPARQL stuff in my current work. That's why I read the paper and also then tried the examples registered in the QLever UI. So no need to hurry up or change your schedule

[2022-06-03 08:06] joka921 commented on #684
Hi, Thanks for your request. To be honest, I do not see why this would be an improvement as I don't see the disadvantages of using the submodules shipped with QLever. The only ones I can think of are
* Memory consumption. This should not be an issue, as those libraries are rather small.
* Compile time. Not an issue at all, since the submodules compile very fast and QLever compiles very slow, so th

[2022-06-03 08:20] hannahbast commented on #678
@LorenzBuehmann Thanks + yes, I will clean up the example queries, they should indeed all work.

Where is the Swiss castle query from, that's not from us, or is it?

We included `geof:latitude`, `geof:longitude`, and `geof:distance` because the Wikidata Query Service uses them and many example queries there. So it would be a pity not to have them for our Wikidata instance.

And yes, GeoSPARQL is a

[2022-06-03 11:43] joka921 commented on #634
No, it is a request towards you to properly formulate a reproducible issue towards our software QLever and its API.
QLever offers an HTTP API which supports a subset of the SPARQL endpoint protocol. You seem to have an issue with this API so ween the request you sent to understand, reproduce, and fix this. (The request headers, the request content and so on, either as structured data like JSON or

[2022-06-03 17:07] #683 closed

[2022-06-05 15:39] bulvara commented on #684
Thanks for your opinion. I've thought of using your stxxl fork for https://github.com/ngageoint/hootenanny which also needs it.

[2022-06-05 15:39] #684 closed

[2022-06-06 06:10] WolfgangFahl commented on #634
As for reproducability:
https://qlever.cs.uni-freiburg.de/wikidata/TWYwDb
already IMHO behaves strangely. Otherwise this issue is about an incompatiblity of QLever when trying to use it with a standard library.  The reproducability is most easily achieved by using sparqlquery from pylodstorage clearly showing the problem. A bit harder is to create a specific piece of a few lines of sparql code. I

[2022-06-06 06:22] hannahbast commented on #634
@WolfgangFahl You forgot the definition of the `wd:` prefix in the query. If you add it, it works: https://qlever.cs.uni-freiburg.de/wikidata/Ixq0uA . Not sure that this has to do with the other software you are mentioning.

[2022-06-08 06:27] LorenzBuehmann commented on #678
@hannahbast

Sure it is: *"All castles in Switzerland"*
Now this query is working, not sure if you fixed something in the meantime.

Is it? In my very limited world this is supposed to be a fast geospatial database. Do you have some example and numbers in mind? Do you refer to point in polygon queries or even something beyond?
Maybe you're right and for some cases it's just "good enough", but at l

[2022-06-08 12:33] hannahbast commented on #678
@LorenzBuehmann

Thanks for reminding me about the "All castles in Switzerland" query :-) It came from one of our users and since I found it interesting and challenging, I added it. So in this sense, it is both not from us (but from that user) and from us (because I added it as an example query, which I forgot in the meantime).

Thanks for the blog post. It speaks about a spatial join between a se

[2022-06-09 10:19] LorenzBuehmann opened #688 "Map view++ shows some"
Hi,

running the query to render all railway tracks from OSM planet dataset:

[code]
the map view++ seems to put some geometries on the wrong part of the map, see the image below:

![Screenshot from 2022-06-09 12-07-41](https://user-images.githubusercontent.com/976029/172824449-45d18742-2048-41be-ae97-17bef8c0f5b1.png)

see both areas in the south west of the map, zooming into and getting some OSM

[2022-06-09 22:13] patrickbr commented on #688
Thank you for spotting this! There was a problem with the internal coordinate compression, in particular with longitudes beyond 147.17 degrees, which is why eastern Australia and New Zealand were erroneous (the left most area in your example is not around Newcastle, UK, but around Sydney and Newcastle, NSW). We are currently testing the fix and will update the Map view++ soon afterwards.

[2022-06-10 12:56] hannahbast commented on #688
It works now, thanks a lot, Patrick! https://qlever.cs.uni-freiburg.de/osm-planet/N3H0C2

[2022-06-10 12:58] hannahbast commented on #688
Fixed by https://github.com/ad-freiburg/qlever-petrimaps/commit/fa2fd082e6f7e9f82e768ead8ca0e143670ae042

[2022-06-10 12:59] hannahbast commented on #688
Fixed by https://github.com/ad-freiburg/qlever-petrimaps/commit/fa2fd082e6f7e9f82e768ead8ca0e143670ae042

[2022-06-10 12:59] #688 closed

[2022-06-22 12:42] hannahbast opened #693 "osm2rdf:contains_area+ not taken from cache"
In the following query, the result of the `{ SELECT * WHERE ... }` subquery is not taken from the cache, despite the maximal explicitness. One hypothesis is that the cost estimates come to the (wrong) conclusion that computing `osm2rdf:contains_area+` for a fixed subject is cheaper than the JOIN operation of a single element with the large (99M triple) result from the cache.

[code]

https://qleve

[2022-06-25 11:49] WolfgangFahl commented on #563
https://wiki.bitplan.com/index.php/WikiData_Import_2022-06-24 reports the latest attempt.

The log file ends with

`2022-06-25 09:42:57.517	- INFO:  Creating a pair of index permutations ...
`

https://wiki.bitplan.com/index.php/WikiData_Import_2022-06-24#Resulting_files
shows the results.

I fear this is a failed attempt again.

What should be in the log on success and how should the resulting fi

[2022-06-25 12:05] joka921 commented on #563
Thanks for the Info and the log.
You could use this index with the "only load PSO and POS" option, then you can't formulate queries where the predicate is a variable, please try this out.

Can you quickly check how much space is left on you hard disk/SSD? We have to figure out, why this attempt failed (RAM should not be the issue in this last phase).

It seems like the stxxl disk already has 1.7TB

[2022-06-25 17:36] WolfgangFahl commented on #563
Indeed the harddisk is full:
[code]

so i assume a check for minimum disk space is due before starting the procedure. I wonder why the february attempt was successful - was the increase of triples in wikidata itself from february to may the cause or doe the files created by qlever need more space by now? I could happily run the indexer on a 10 TB rotating disk if that is the better option...

[2022-06-25 18:00] joka921 commented on #563
1. The 10TB rotating disk sounds good, That is also what we do.
2. The memory consumption of the IndexBuilder went up, because we traded it for time (1 day vs. 4 days in your case). Note that the additional space is only temporary space that is not needed anymore after the IndexBuilder has finished.
3.  I understand your wish for a precheck. I gave you something like that in person ("only 2 TB of

[2022-06-25 18:00] hannahbast commented on #563
4 TB is more than enough to build Wikidata using QLever. The question is: how many TB were free on your machine, to begin with?

A general remark: It is certainly interesting to have your experiences with building Wikidata on machines with very tight resources. And QLever is indeed the engine of choice for that. But to put things into perspective, in all the discussions about the new backend for t

[2022-06-28 05:47] WolfgangFahl commented on #565
[code]

[2022-06-28 23:05] hannahbast commented on #673
Fixed by [743cb9ecced5bdc7378ddee94b15dd091c06a757](https://github.com/ad-freiburg/qlever-ui/commit/743cb9ecced5bdc7378ddee94b15dd091c06a757)

[2022-06-28 23:05] #673 closed

[2022-06-28 23:08] #647 closed

[2022-06-28 23:12] hannahbast commented on #631
Fixed by https://github.com/ad-freiburg/qlever-proxy/commit/c5909cfae9d0f27e0887176c2a2a5dd486f030a8 (already a month ago, but I committed the change only now)

[2022-06-28 23:12] #631 closed

[2022-06-28 23:13] hannahbast commented on #634
This looks solved to me

[2022-06-28 23:13] #634 closed

[2022-06-28 23:14] hannahbast commented on #619
Closing this, since it was just a suggestion, thanks for bringing it up though

[2022-06-28 23:14] #619 closed

[2022-06-28 23:15] hannahbast commented on #608
Looks solved to me

[2022-06-28 23:15] #608 closed

[2022-06-28 23:19] hannahbast commented on #604
Just tried the query again on QLever, it works fine. The WDQS gives a `java.lang.StackOverflowError`, but that is not our problem.

[2022-06-28 23:19] #604 closed

[2022-06-28 23:20] hannahbast commented on #565
Revisiting this after some time. The index building log has been much improved in the meantime, with good progress info. Also the [qlever script](https://github.com/ad-freiburg/qlever-control) is available for quite some time now.

[2022-06-28 23:20] #565 closed

[2022-06-28 23:24] hannahbast commented on #563
Moved this to https://github.com/ad-freiburg/qlever/discussions/668, since a large part of the problems are specific to the setup of a particular user.

[2022-06-28 23:24] #563 closed

[2022-06-28 23:25] hannahbast commented on #392
Closing this very old issue (posted by ourselves). The parser has much better error messages for quite a long time now.

[2022-06-28 23:25] #392 closed

[2022-06-28 23:40] hannahbast commented on #367
The export has been largely reworked and refactored in a series of commits from Jan - Mar 2022 by @RobinTF, in collaboration with @joka921 . Also, the error has never occurred again. So I dare closing this.

[2022-06-28 23:40] #367 closed

[2022-06-28 23:47] hannahbast commented on #351
@joka921 Surprisingly, this query still fails after so many years. Here is a simpler variant with the same problem:

[code]

https://qlever.cs.uni-freiburg.de/wikidata/nAe24n

[2022-06-28 23:50] hannahbast commented on #375
Thank you for this information, we have been in contact with Wikimedia since then

[2022-06-28 23:50] #375 closed

[2022-06-28 23:52] hannahbast commented on #353
This now gives a parse exception, so I consider this solved

[2022-06-28 23:52] #353 closed

[2022-06-28 23:54] hannahbast commented on #331
This has been fixed already a while ago and the first query posted above is now as fast as it should be: https://qlever.cs.uni-freiburg.de/wikidata/XHaPJr

[2022-06-28 23:54] #331 closed

[2022-06-28 23:59] hannahbast commented on #311
This is a very hard query with a huge result. QLever has a memory limit for quite some time now and the query above runs into it, now producing a proper error message of the form `Tried to allocate XXX MB, but only YYY MB were available. Clear the cache or allow more memory for QLever during startup`.

[2022-06-28 23:59] #311 closed

[2022-06-29 00:02] hannahbast commented on #306
Fixed by https://github.com/ad-freiburg/qlever/commit/0d301c1d53b7c65916e99cb945dc07d15e6f28c6 and https://github.com/ad-freiburg/qlever-control/commit/4aee88c71d3d515d442b13ff9b26d4d50ca09ed6

[2022-06-29 00:02] #306 closed

[2022-06-29 05:37] nicolaes commented on #673
@hannahbast thank you for looking into this 🙏

[2022-07-01 02:01] hannahbast commented on #617
@WolfgangFahl @balhoff This is now implemented by #657 (soon to be merged into the master) and currently active on QLever's Wikidata API. In particular, the following three calls now all give the same result. The first call issues a standard GET request. The second call issues a POST request with a URL-encoded query string. The third call issues a POST request with an unencoded SPARQL query in the

[2022-07-01 02:04] balhoff commented on #617
Wonderful, thank you!

[2022-07-04 07:23] WolfgangFahl opened #694 "Behavior on missing prefixes should be consistent and user-friendly"
after #631 was fixed i tried activating the test again but the test fails
for named query cities. I assume the prefixes are missing in this case and would suggest to change the error message accordingly e.g. adding "are some prefix declarations missing ..."

sparql:
[code]
{
    "exception": "BAD QUERY (No vocabulary entry for wd:Q515; in ../src/engine/QueryPlanner.cpp, line 374, function QueryPla

[2022-07-04 07:24] WolfgangFahl commented on #694
https://qlever.cs.uni-freiburg.de/wikidata/BAN1wX works

[2022-07-04 07:24] WolfgangFahl commented on #694
so the test still can't comment out:
[code]

[2022-07-04 07:33] WolfgangFahl opened #695 "Named Query AcademicConferenceItemLabel gives different result for Wikidata Query Service and QLever"
#634 has been technicallly fixed but the query that caused the problem now gives different results for the Wikidata Query Service and QLever

[code]
[code]

versus
[code]

for
## AcademicConferenceItemLabel

### query
[code]
[try it!](https://query.wikidata.org/#%23%20get%20the%20label%20for%20the%20given%20item%0ASELECT%20%3FitemLabel%0AWHERE%0A%7B%0A%20%20VALUES%20%28%3Fitem%29%20%7B%0A%20%20%20

[2022-07-04 07:40] WolfgangFahl commented on #604
Indeed
[code]
now works
## result
| mountain                                 | mountain_label   |   elevation | coordinates                      |
|------------------------------------------|------------------|-------------|----------------------------------|
| http://www.wikidata.org/entity/Q513      | Mount Everest    |        8850 | Point(86.925277777 27.988055555) |
| http://www.wikidata.org/e

[2022-07-04 08:17] joka921 commented on #695
This query is missing the definitions of the `rdfs:` and the `wd:` prefixes.
When including those prefixes, it works like a charm:
[try it!](https://qlever.cs.uni-freiburg.de/wikidata/dLnC0b?exec=true)

The only alternative to the (in my understanding correct!) behavior of an empty query result would be an exception or an error, which would probably be more user-friendly.
As you know, we are alrea

[2022-07-04 08:24] joka921 commented on #694
@WolfgangFahl I don't understand what you mean by "the test can't comment out".
I would suggest that you add the PREFIX definitions (which are mandatory) in your test queries!

@hannahbast @Qup42
The issue (concerning usability, not functionality) at hand is that QLever shows different behavior on missing prefixes. In many times it will just not find the IRIs and thus yield an empty result, while

[2022-07-07 01:51] balhoff opened #696 "xsd:boolean values not parsed correctly"
Using the [latest](https://hub.docker.com/layers/qlever/adfreiburg/qlever/latest/images/sha256-d907922ba850323b58bbcd7889fb508911d54b0bc0c2031b4dd2e458b34d2387?context=explore) QLever Docker image, when I load a turtle file, QLever fails when it encounters a true or false string literal:

[code]

The input encountered just before the error is:

[code]

I am working around this issue by loading QLe

[2022-07-07 03:11] hannahbast commented on #696
@balhoff Sorry for that, we also encountered this already. It was introduced by PR #686, which treats a boolean like any other integer, also enforcing the strict parsing rules for integers. Here is an easy fix PR #697. We will review this asap and merge it into the master.

[2022-07-07 03:25] hannahbast commented on #696
PS: I also just pushed a new image with this quick fix to adfreiburg/qlever

[2022-07-08 00:21] balhoff opened #698 "Unexpected query result"
When I execute this query on my database, I get only 1 result:

[code]

[code]

However if I add `?term` to the SELECT, I get 10 results, containing various bindings for `?container` (more than that one above):

[code]

[code]

If I perform the first query but remove the `FILTER`, I again get 10 results.

I can send you a link to my SPARQL endpoint privately, if it would be helpful.

[2022-07-08 02:22] hannahbast commented on #698
@balhoff Can you send me a link to your input file for download, so that we can test it on our machine?

[2022-07-08 02:31] hannahbast commented on #698
I tried it with this example dataset (constructed from your triples above, so that the queries make sense), but could not reproduce the phenomenon you reported:

[code]

[2022-07-08 13:47] balhoff commented on #698
Here is a temporary link to the RDF data: https://www.dropbox.com/s/pa7om33wq3uis64/phenoscape.ttl.gz?dl=0

I'm building the index and running the server inside our Kubernetes cluster. I used this command to build the index:

[code]

`phenoscape.settings.json` looks like this:

[code]

I'm not using the QLever UI; I'm submitting the query via [Yasgui](https://yasgui.triply.cc/) using `POST`.

[2022-07-08 18:18] hannahbast commented on #698
Thanks, I did the following in a fresh folder containing only the Qleverfile below. I could not reproduce your problem, but got a correct result (with 10 rows for your first query, instead of 1 row like you). The `qlever get-data` only downloads your `phenoscape.ttl.gz`, it will do nothing if the file is already there.

[code]

I used the [qlever script](https://github.com/ad-freiburg/qlever-contr

[2022-07-08 18:48] balhoff commented on #698
Thank you so much for testing that. I just now restarted my QLever server and am getting the correct result. I wonder if somehow the cache had gotten confused the first time I submitted this query. My apologies for taking your time!

I will explore using the qlever script. I'm running in a Kubernetes pod using the QLever Docker image, so I will need to see if that works together. Now I have QLever

[2022-07-08 18:48] #698 closed

[2022-07-08 20:33] hannahbast commented on #698
Some clarification concerning the qlever script:

The qlever script is very handy for the interactive management of QLever via simple actions: get me the data, build me an index, start the server, show me which servers are running, show me some statistics, clear the cache, etc. Along with executing the action, the script also shows the command line it executed. Plus: all the configuration is in on

[2022-07-09 00:11] balhoff commented on #698
My institute runs a large on-premises Kubernetes cluster. The IT infrastructure group takes care of maintaining the underlying servers and Kubernetes itself. Then for any application (e.g. a web service) I want to deploy, I just write a small YAML file specifying the Docker image and necessary arguments, and requirements for CPUs and memory, and submit it via the Kubernetes command line. There is

[2022-07-20 22:02] hannahbast opened #707 "Special predicates like @en@... no longer parsed"
QLever has special predicates like @en@rdfs:label, which do not conform to the official SPARQL syntax. After the latest changes to the query parser, queries using these predicates (this includes our warmup queries for the autocompletion) throw a parse error. For example:

[code]

https://qlever.cs.uni-freiburg.de/wikidata/DcSedT

[2022-07-20 22:05] hannahbast commented on #707
@Qup42 Is this easy to fix, Julian?

[2022-07-22 21:37] Qup42 commented on #707
[code]

Looking at the grammar I think that this should already be possible. Seems that @joka921 already added this in the first iteration of the grammar. With [full IRIs](https://qlever.cs.uni-freiburg.de/wikidata/5YNy9t) it does work as expected. With prefixedName it doesn't parse for some reason.

Parsing `@en@rdfs:label`:
![image](https://user-images.githubusercontent.com/14220769/180571734-7f

[2022-07-23 10:16] joka921 commented on #707
I think by the way we have currently integrated this special case into the lexer we have broken the grammar, it seems to lex a Langtag @en and then a langtag @rdfs which is obviously not correct.

I would try to make a Terminal symbol PREFIX_LANGTAG which matches @en@ and see if this fixes this issue, @Qup42 can you play around there a little bit? I think the problem is that the `'@'` in the Parse

[2022-07-23 10:51] Qup42 commented on #707
The prefix with an additional Terminal Symbol `PREFIX_LANGTAG` seems to work. Thanks for the suggestion @joka921 ! I was playing with splitting the terminal symbols and pulling more rules into parser rules. But even if it had worked it would have been more elaborate. Your solution is very simple.

I will get a PR with some tests ready by tonight.

[2022-07-25 14:43] donpellegrino opened #709 "Clarify minimum compiler / STL requirements."
Currently, [native_setup.md](https://github.com/ad-freiburg/qlever/blob/master/docs/native_setup.md) indicates that GCC >= 7.x on Ubuntu > 18.04 should work. The [Native Build Workflows](https://github.com/ad-freiburg/qlever/actions/workflows/native-build.yml) are only testing GCC >= 11.1.0 and clang 13.01.1 in the following combinations:

- GCC 11.1.0 / libstdc++ 11.1.0
- GCC 12.0.1 / libstdc++ 1

[2022-07-25 16:03] donpellegrino commented on #709
For reference, it is worth noting that the Intel C++ Compiler does not work with C++20 coroutines as per https://www.intel.com/content/www/us/en/developer/articles/technical/c20-features-supported-by-intel-cpp-compiler.html

[2022-07-25 16:09] joka921 commented on #709
Hey,
Thanks for pointing this out. The `native_setup.md` is out of sync here. We require G++11 or clang-13 because we use C++20 and most notably c++ coroutines (not only in the Boost dependency, but also in our own code).
For initial testing we recommend the Docker setup via the very convenient Qlever-control script.
To see, what has to be installed on an Ubuntu 18.04 or 20.04 to make Qlever run n

[2022-07-25 16:43] donpellegrino commented on #709
@joka921 - Thanks for the background and explanation! That is just what I needed.

My challenge is getting a development sandbox put together. I have been using a cluster where I don't have sudo/root as my primary development environment, but I can put something together on smaller equipment based on the excellent Dockerfiles. I had no problems building on Ubuntu 20 running inside WSL2 on a commod

[2022-07-26 22:46] donpellegrino commented on #524
@jeremiahpslewis I encountered the "sparqlExpression" "referenced in section"/"defined in discarded section" errors when building qlever with manually built GCC 11 and GCC 12 compilers that I built and ran on Ubuntu 20.04.4 LTS. The system was a cluster and I lacked sudo/root to install the GCC 11 or GCC 12 packages, so I had to build them myself. I built the GCC compilers with the Intel C++ Compi

[2022-07-26 23:10] donpellegrino opened #710 "graph decomposition / multiple index / federation support"
"[QLever support for SPARQL 1.1 Update](https://github.com/ad-freiburg/qlever/wiki/QLever-support-for-SPARQL-1.1-Update)" mentions:

I could not find an existing issue for the multiple index implementation, so I thought I would file this one to get it an ID and have a place for discussion. Please let me know if it is already work-in-progress with references I missed.

Another approach might be to

[2022-07-26 23:23] hannahbast commented on #710
@donpellegrino Thanks! We have not started working on "SPARQL 1.1 Update" yet, but are currently still busy with preparatory work leading up to it.

You ask whether "existing SPARQL Federation interfaces could efficiently hit QLever services". QLever supports the standard API, for example (for Wikidata):

[code]

Isn't this enough for federation services to use QLever endpoints or am I missing som

[2022-07-26 23:30] donpellegrino commented on #710
I believe that QLever endpoints already have all that is needed for SPARQL Federation. I will try to put together a simple example of using ARQ to query two QLever servers at once.

[2022-07-26 23:34] hannahbast commented on #709
Concerning [PubChemRDF](https://pubchemdocs.ncbi.nlm.nih.gov/rdf): I have just started a download of the core data (everything except compound/nbr2d and compound/nbr3d) and will set up a QLever endpoint for it. I will let you know when it's done. This was on our TODO list anyway and your comment just pushed it to the top :-) If no significant problems occur, the process is mostly automatic, let's

[2022-07-26 23:40] hannahbast commented on #710
Great! [Wikidata](https://qlever.cs.uni-freiburg.de/wikidata) and [OSM Planet](https://qlever.cs.uni-freiburg.de/osm-planet) would be a natural choice. Many OSM entities are associated with a Wikidata entity via the `<https://www.openstreetmap.org/wikidata>` predicate (and the object is not just the QID of the entity, but the correct URL: https://qlever.cs.uni-freiburg.de/osm-planet/B1OuBQ).

[2022-07-27 11:29] #707 closed

[2022-07-27 16:29] donpellegrino opened #711 "Using QLever for the PubChem RDF data"
When indexing is performed with IndexBuilderMain by streaming RDF serialized in Turtle, indexing will fail if the input has `@prefix` directives after triples.

Example input: https://ftp.ncbi.nlm.nih.gov/pubchem/RDF/bioassay/pc_bioassay.ttl.gz
The first three lines are `@prefix` directives. Line 1,465,988 has another `@prefix` directive. The prefixes are declared before referenced, but they are n

[2022-07-27 18:03] hannahbast commented on #711
Yes, and the problem is that the input stream is parsed in parallel, so that it can happen that a triple is parsed before the respective prefix definition has been parsed. This is on our TODO list and will be fixed soon. In the meantime, you can simply do something like this:

[code]

Here is the contents of `pubchem.prefix-definitions` (which I computed automatically from the input files, but no

[2022-07-27 18:18] hannahbast commented on #711
Incidentally, which subfolders of https://ftp.ncbi.nlm.nih.gov/pubchem/RDF should we consider? I am currently considering (I left out `reaction` because it's empty):

```bioassay compound/general concept conserveddomain descriptor/compound descriptor/substance disease endpoint gene inchikey measuregroup patent patent/cpc patent/ipc pathway protein reference source substance synonym taxonomy```

Co

[2022-07-28 01:12] donpellegrino commented on #711
I use the following bash function in my scripts:

[code]

Rather than enumerate all the subfolders to collect, I take the inverse approach and explicitly list what I want to exclude. I don't know what is going on with `reaction`. I get 81G as well:

[code]

I have found the NCBI PubChem Support team to be very helpful and fast to respond. It may be useful to report the inconsistencies you found to

[2022-07-28 01:22] donpellegrino commented on #711
For PubChemRDF handling, I created a script to manually collect the OWL files from around the Internet for the referenced vocabularies. This is more relevant when executing SPARQL dependent on inference.

How to best handle inference in combination with QLever indexes would be a more complex problem. Applying inference using Apache Jena ARQ on this dataset is not performant. Different SPARQL infer

[2022-07-28 01:28] donpellegrino commented on #711
Would you suggest making the PubChemRDF Subdomain Namespaces (https://pubchemdocs.ncbi.nlm.nih.gov/rdf$_3 - table 2)  as external vocabulary as described in https://github.com/ad-freiburg/qlever/wiki/Internal-and-external-vocabulary ?

[2022-07-28 02:55] hannahbast commented on #711
@external vocabulary: I can tell you more when my current build has finished. By default, all literals longer than 1024 bytes and all language literals (with an @.. suffix) are placed in the external vocabulary. Maybe that's already enough for PubChem, I will know later today.

I have another question concerning the way PubChemRDF uses reification. Here is a typical example: https://pubchem.ncbi.n

[2022-07-28 06:31] WolfgangFahl commented on #615
Here is an example of  a ["truly tabular" generated query](https://wiki.bitplan.com/index.php/Truly_Tabular_RDF) with GROUP_CONCAT that does not seem to work:
[code]

[2022-07-28 09:18] WolfgangFahl commented on #615
https://qlever.cs.uni-freiburg.de/wikidata/l1x8od works

[2022-07-28 09:18] joka921 commented on #615
@WolfgangFahl
[Here is a variant of you query that works](https://qlever.cs.uni-freiburg.de/wikidata/YhOPMO)

There are two issues here: QLever's parser currently does not allow `⇹` as a separator. I'll have to check, whether this has to be somehow escaped, or whether this is a bug in our parser implementation. I have therefore replaced the separator by ` `.
The second issue is that `HAVING(COUNT(

[2022-07-28 14:05] donpellegrino commented on #711
I have only been a user of PubChemRDF, so I am unable to speak authoritatively on the design choices made by the implementers. There are a few publications with background on the use of 'has-attribute' that I list below. In addition, my recent communications with the PubChemRDF team indicate that they are currently doing redesign work. Now would be an excellent time to provide recommendations on c

[2022-07-30 15:29] hannahbast commented on #360
@joka921 This is resolved, is it not?

[2022-07-30 16:50] hannahbast opened #714 "PREFIX descriptor: parsed as keyword DESC"
When I have a SPARQL query that defines a prefix `descriptor:`, the SPARQL parser recognizes it as the keyword `DESC` and throws an exception: https://qlever.cs.uni-freiburg.de/wikidata/iTzJwQ

@joka921 @Qup42 Is this from the new parser or has this always been there?

[2022-07-30 17:21] Qup42 commented on #714
The problem is in our own Lexer. The coresponding code parts haven't been changed recently so I suspect that it has been there for some time at least.

The Problem is that the `KEYWORD` lexer rule has a higher precendence than the `IRI` rule and can also match a prefix of an `IRI`. The lexer uses the first matching type and not the type with the longest match. I will test whether switching the ord

[2022-07-30 17:27] joka921 commented on #714
Yes, this will automatically go away with the new parser.
Does this prefix work as expected if it appears in a .ttl-File which is fed to the IndexBuilder?

[2022-07-30 17:32] hannahbast commented on #714
That's a good question, but apparently yes: https://qlever.cs.uni-freiburg.de/pubchem/6ExuXr . I checked the TTL containing those triples, and it contains the prefix definition `@prefix descriptor: <http://rdf.ncbi.nlm.nih.gov/pubchem/descriptor/>`.

[2022-07-30 17:34] joka921 commented on #524
@donpellegrino We did not actually fix it, but we switched to clang for the respective Platforms which does not have this problem.

I have in the meantime identified how this error is triggered. In happens when compiling these coroutines with G++ with the
`-no-pie` or `-fno-pie` flags. Do you use these flags / does your build system set them automatically? And can you disable them?
Alternatively:

[2022-07-30 17:37] hannahbast commented on #714
@Qup42 Thanks! Do you mean this order: https://github.com/ad-freiburg/qlever/blob/master/src/parser/SparqlLexer.cpp#L79-L85 ?

[2022-07-30 17:37] Qup42 commented on #714
Yes

[2022-07-30 17:40] Qup42 commented on #714
Here's a quick fix for the problem. But we might as well also switch the parsing of `PREFIX` declarations to ANTLR as well.

[2022-07-30 22:50] hannahbast commented on #711
@donpellegrino My index build is now finished and the respective QLever instance is online here: https://qlever.cs.uni-freiburg.de/pubchem . The index build took 20 hours and the number of triples is 14.2 B. The Qleverfile containing all information (for downloading the data, building the index, and starting the server) is here: https://github.com/ad-freiburg/qlever-control/blob/main/Qleverfiles/Q

[2022-07-31 09:30] WolfgangFahl opened #716 "ParseException, cause: Built-in function not yet implemented (only aggregates like COUNT so far)"
https://qlever.cs.uni-freiburg.de/wikidata/5KqxJw

I assume this is about:
[code]
Which is kind of a workaround anyway.
**What would be an alternative?**

the issue for me here is not the non implemented feature but the way the error message is displayed. It should e.g. point out where the problem is (what line/what function ...)

[2022-07-31 09:43] hannahbast commented on #716
The error messages will be improved when we switch to the new ANTLR-based parser (we are already quite far with this). The query has two problems:

1. Functions like `xsd:integer`, `SUBSTR` and `STR` are not yet implemented. That is relatively easy to do. Anyway, that's pure post-processing of the query result, so rarely criticial (since the results of a SPARQL query are usually processed further

[2022-07-31 10:00] WolfgangFahl commented on #716
@hannahbast  thanks for the info. For this one there is an easy workaround. I don't need the SPARQL query to return the numeric id value  - the python code analysing the result can easily extract that.
[code]
is now somewhat misleading in the comments but https://qlever.cs.uni-freiburg.de/wikidata/TxJdYE works except the sorting needs to be done externally now.

[2022-07-31 10:13] hannahbast commented on #716
But why would you want to sort by the integer value of the QID? A sorting by "popularity" would be more meaningful, for example, by the number of sitelinks: https://qlever.cs.uni-freiburg.de/wikidata/XDUlft

[2022-07-31 10:20] WolfgangFahl opened #717 "Result of COUNT aggregate should be int not string"
[code]
https://qlever.cs.uni-freiburg.de/wikidata/z95eV3

returns a string. I'll have to work around this for the time being.

[2022-07-31 10:36] hannahbast commented on #717
That's not true, it's an `xsd:int`, as it should be

[2022-07-31 10:37] joka921 commented on #717
What do you mean by "returns a string"?
In all the formats I checked the result is returned as a literal with a datatype of xsd:int. This is the
standard-conforming way to do this. Consider e.g. the following curl request which retrieves this query in the RDF-standard-json format:

[code]

[2022-07-31 10:55] WolfgangFahl commented on #717
Thanks for the feedback i'll have to look into why it's reported as a string in my library.

[2022-07-31 10:55] #717 closed

[2022-07-31 11:28] WolfgangFahl opened #718 "try it links with URL-Get parameters"
The wikidata query service allows full queries to be specified via URL get parameters
[try it !](https://query.wikidata.org//#%23%20get%20the%20most%20frequently%20used%20properties%20for%0A%23%20Q1667921%3Anovel%20series%0APREFIX%20rdf%3A%20%3Chttp%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%3E%0APREFIX%20rdfs%3A%20%3Chttp%3A//www.w3.org/2000/01/rdf-schema%23%3E%0APREFIX%20schema%3A%20%3Chttp%3A//

[2022-07-31 11:57] joka921 commented on #718
You can also specify the full query for the QLever-UI, you just need to wrap it in a `?query=<url-encoded-query>` parameter (which is closer to the "ordinary" SPARQL endpoint API.
[try it!](https://qlever.cs.uni-freiburg.de/wikidata/?query=%23%20get%20the%20most%20frequently%20used%20properties%20for%0A%23%20Q1667921%3Anovel%20series%0APREFIX%20rdf%3A%20%3Chttp%3A//www.w3.org/1999/02/22-rdf-syntax

[2022-07-31 14:23] donpellegrino commented on #711
@hannahbast - Congratulations on the index build! That is a significant achievement. The PubChemRDF core subset is beyond the limits of many other triple stores.

### Building within Wall-Clock/Memory/CPU/Interconnect constraints

I would love to reproduce your result, but the [cluster](https://devcloud.intel.com/oneapi/home/) I have been using limits jobs to 6 hours of wall-clock time. Nodes have

[2022-07-31 18:18] hannahbast commented on #711
@donpellegrino Great reply, thanks! You say that you manually "collect all the OWL files [you] can find that are referenced by PubChem RDF". That makes a lot of sense. Can you post a list of these files here? I would then download and add them to the PubChem instance. The URL https://pubchem.ncbi.nlm.nih.gov/rest/rdf/ruleset.html you mention does not work for me ("Bad Query URL"). I will write mor

[2022-07-31 18:52] donpellegrino commented on #711
I have not yet fully automated the collection, but the following list includes my notes on public URLs I found for various ontologies. There may be ontologies that I missed. The vocabulary, prefix, and filename fields are just for my own tracking and do not have any operational consequence on the workflow. Ideally, the list of URLs below would cross-reference with the list of prefixes and namespac

[2022-07-31 23:34] hannahbast commented on #711
Here are a few comments concerning your question about how to build a QLever index when machine time is limited:

0. This is a rather unusual constraint. Have you considered simply buying your own machine? One of the design principles of QLever is to be as efficient as possible and not to depend on expensive resources. Our standard machine for testing (with an AMD Ryzen 9 5900X 12-core processor)

[2022-08-01 08:36] WolfgangFahl commented on #718
@joka921 thank you that is very helpful.
I am working on a "truly tabular" query generator at http://q.bitplan.com:9999/
see https://wiki.bitplan.com/index.php/Truly_Tabular_RDF for the motivation.

If you try that tool with qlever-wikidata as the endpoint by clicking the cog settings button:
![grafik](https://user-images.githubusercontent.com/1336221/182107791-1ba2c5c0-67b7-45b6-ba30-f9fcc3ffebcd

[2022-08-01 09:49] joka921 commented on #718
Alright, glad we could help, so I'll close this issue now.

[2022-08-01 09:49] #718 closed

[2022-08-01 09:51] joka921 commented on #617
Since we now have support for POST queries, I am closing this issue.
Please let us know whether when something doesn't work as expected, but we have implemented both variations of POST queries that are specified by the SPARQL endpoint protocol.

[2022-08-01 09:51] #617 closed

[2022-08-01 09:55] WolfgangFahl commented on #617
https://github.com/WolfgangFahl/pyLoDStorage/blob/master/sampledata/endpoints.yaml still has "GET" for both endpoints. When i last tried a few days ago "POST" didn't work. Is the POST method now available for both endpoints?

- https://qlever.cs.uni-freiburg.de/api/wikidata
- https://qlever.cs.uni-freiburg.de/api/wikidata-proxy

[2022-08-01 11:20] hannahbast commented on #617
https://qlever.cs.uni-freiburg.de/api/wikidata-proxy is not an endpoint, it's just a proxy (which currently does not forward POST requests). If you ask queries via API, you should use https://qlever.cs.uni-freiburg.de/api/wikidata . This will be unified in the future, the proxy is just a hack for trying out things with the QLever UI

[2022-08-01 12:28] WolfgangFahl commented on #716
@hannahbast  thank you for the idea of a different "relevancy" function. The sorting by number just shows the "older" entries first. The idea here is that the original encyclopaedic entries will be ranked higher than folksonomy style new entries or amendments being done later.

[2022-08-02 08:26] WolfgangFahl commented on #718
Currently the features is a bit limited:
[code]
could you please lift the setting a bit

[2022-08-02 09:18] joka921 commented on #718
Ok, this is then an issue for the UI, I will forward it.
Do you these links to be GET requests, or would it be feasible to use the POST method? (There currently is no support for the latter to my knowledge, but we have to know what you need)

[2022-08-03 15:08] WolfgangFahl opened #722 "Version numbering"
To reference a state of QLever it would be good if a version number would be available and displayed.

[2022-08-03 15:41] hannahbast commented on #722
@available: It is available via the git commit hash.

@displayed: I agree that it's a good idea if the code knew about its own commit hash. IndexBuilderMain could then store that information in the metadata and ServerMail could return it on demand.

[2022-08-05 10:53] #714 closed

[2022-08-08 09:40] WolfgangFahl commented on #718
For the UI Feature the GET is the important one with settings to allow queries of a decent size of a few dozen/hundred lines to be activated this way. For very large queries with thousands of lines this is probably not feasible and POST via an API will be needed. The GET feature is for interactive/tutorial queries that need explanation.

[2022-08-08 21:23] hannahbast commented on #718
I don't understand how an application can *require* URLs of length larger than the standard limit of 2048. There are two alternatives: use POST requests or use the query format with the short hash.

[2022-08-08 21:26] hannahbast commented on #696
Fixed by #697

[2022-08-08 21:26] #696 closed

[2022-08-09 01:57] hannahbast commented on #617
@WolfgangFahl @joka921 The `wikidata-proxy` is now a thing of the past. https://github.com/ad-freiburg/qlever-ui/commit/3495e48b1146f8416e0e02958ad9fc4ad9455cc9 and previous commits implement this directly in the QLever UI. This also fixes a number of long-standing issues with the UI. For example, the download and share links now also provide the rewritten (by the name service) queries if the "Aut

[2022-08-09 03:04] hannahbast opened #729 "No query plan found though there is an obvious one"
The following query involves a subquery with a single triple and another triple connected with that subquery. But QLever finds no query plan: https://qlever.cs.uni-freiburg.de/wikidata/giHKI1

When adding an `ORDER BY` to the subquery, it works (it shouldn't make any difference): https://qlever.cs.uni-freiburg.de/wikidata/z5aNDW

@joka921 We talked about this a long time ago, but I forgot what is

[2022-08-09 05:51] WolfgangFahl opened #730 "Two example queries that require a lot of RAM (one uses wdt:P31/wdt:P279*)"
Examples for out of memory conditions:

- https://qlever.cs.uni-freiburg.de/wikidata/tnooBa

![grafik](https://user-images.githubusercontent.com/1336221/183574877-44cbee07-f906-4370-b31b-e444fb801b70.png)

- https://qlever.cs.uni-freiburg.de/wikidata/Y5WES4
![grafik](https://user-images.githubusercontent.com/1336221/183574852-11ff5d01-fafd-49f7-8729-b44f8fd07c27.png)

[2022-08-09 05:58] WolfgangFahl commented on #718
The generated queries can easily be much larger than 2048 bytes since they also include coments. The short hash is IMHO only available after the query has been executed which defeats the purpose - or is the short hash calculation easy to reproduce which would be a valid workaround?

[2022-08-09 06:06] WolfgangFahl commented on #617
@hannahbast
the default [endpoints.yaml](https://github.com/WolfgangFahl/pyLoDStorage/blob/master/sampledata/endpoints.yaml) of pylodstorage that is being used by e.g. http://wikidata.bitplan.com and the sparqlquery command line tool has been changed a few day ago accordingly.

The only open problem is automatically providing valid try it links #718 which is limited to short example queries:
[code

[2022-08-09 07:31] hannahbast commented on #730
The problem with these queries is that the result without the `GROUP BY` is *huge*. For example, for the second query, it's over a billion triples. It's aggravated by the fact that the implementation for the predicate path is not very space-efficient.

I wonder if these queries work for any of the other engines around.

[2022-08-09 07:35] hannahbast commented on #718
You can get the short hash also without executing the query: just click on the "Share" button, it's the first link on the top then.

[2022-08-11 23:13] hannahbast commented on #729
Fixed by https://github.com/ad-freiburg/qlever/pull/733

[2022-08-11 23:13] #729 closed

[2022-08-16 13:51] WolfgangFahl opened #739 "can't parse dblp dump"
see https://ceur-ws.bitplan.com/index.php/Workdocumentation_2022-08-16#dblp_Qlever
[code]

[2022-08-17 16:13] hannahbast opened #743 "UNION with BIND gives strange error message"
The following perfectly valid query

https://qlever.cs.uni-freiburg.de/wikidata/upAivF

gives the following peculiar error message

"grandchildren or lower of a Plan to be optimized may never be empty"

[2022-08-18 19:18] hannahbast commented on #739
Two comments:

1. You should really use the `qlever` script and its preconfigured `Qleverfile`s. You can create a QLever instance for DBLP (and analogously for many other datasets) with the following simple sequence:

[code]

2. The QLever Turtle parser couldn't handle collection until recently, which is why the `qlever` script used the NT download for DBLP. Since https://github.com/ad-freiburg/ql

[2022-08-18 19:18] #739 closed

[2022-08-19 05:18] WolfgangFahl commented on #739
@hannahbast  Thanks for the explanation. The procedure works better now.
The handling of using docker is not automated yet and therefore:
[code]
appears and the QLeverfile needs to be modified manually.

[2022-08-19 06:18] WolfgangFahl opened #745 "Strange error message ParseException, cause: Function "" not supported"
[code]
https://qlever.cs.uni-freiburg.de/dblp/Be6fYX

ParseException, cause: Function "" not supported
![grafik](https://user-images.githubusercontent.com/1336221/185555556-af1ef70d-1c46-4340-96d9-21375255eb21.png)

[2022-08-19 06:22] hannahbast commented on #739
@WolfgangFahl I'm not sure what you mean by "The handling of using docker is not automated yet". You have two options:

1. Manually edit the Qleverfile and set `USE_DOCKER = true`. This could also be done "automatically" with a command like `sed -i 's/^\(USE_DOCKER\s*=\).*/\1 true/' Qleverfile`.

2. Call the qlever script with an override assignment, for example: `qlever USE_DOCKER=true index`. Yo

[2022-08-19 06:26] hannahbast commented on #745
IRI functions like `xsd:integer` are not yet implemented. It's a bug that `""` is displayed instead of `"xsd:integer"`, but that should be easy to fix.

@joka921 @Qup42 Do you think that this might have something to do with one of the ANTLR PRs or was this parse error message already broken before? Either way, can you fix it?

[2022-08-19 06:50] WolfgangFahl commented on #739
@hannahbast Thanks for the explanation.

https://ceur-ws.bitplan.com/index.php/Workdocumentation_2022-08-19#dblp now has the explanation. We can successfully use the endpoint and i ran a few test queries.

"The handling of using docker is not automated yet" means that even using Qlevercontrol in the way shown above does not work "out of the box" yet. There are prerequisites which need to explained

[2022-08-19 07:27] WolfgangFahl commented on #745
@hannahbast  thank you for the explanation.
For querie such as https://qlever.cs.uni-freiburg.de/dblp/czG2lo we need the conversion since otherwise the volumes are not sorted correctly.

[2022-08-19 07:57] joka921 commented on #745
@hannahbast
The missing function name is not an issue in QLever, but in the UI. The GET-response shows the full IRI. Possibly there is some trouble because of "special characters" like `<:/"`

[2022-08-19 08:27] Qup42 commented on #745
The problem seems to be that browsers interpret the iri a HTML tag. E.g. Firefox 103.0.2
![image](https://user-images.githubusercontent.com/14220769/185577030-818656c0-50fe-460a-b4d1-60f2a98abf2e.png)

Escaping the exception using `htmlEscape(response["exception"])` like the echoed query over in qlever-ui should fix that. See also https://github.com/ad-freiburg/qlever-ui/blob/master/backend/static

[2022-08-19 08:28] joka921 commented on #745
Wow...
Does that mean, I can inject arbitrary scripts into the qlever response, and the UI will execute them?
Don't we teach a lecture that talks about these things???

[2022-08-19 08:37] Qup42 commented on #745
If you manage to inject you payload into the exception text i would assume yes. This field even was escaped in older versions of the code. This can be seen by the lingering comments of old code.

`&`,`<` and `>` are escaped in the echoed query. This might be enough for its position. But I'm not familiar enough with this field to say whether that with certainty.

[2022-08-19 20:30] #743 closed

[2022-08-20 01:58] #745 closed

[2022-08-20 02:02] hannahbast commented on #745
Thanks a lot, guys, quite embarrassing + fixed now

[2022-08-21 14:02] hannahbast opened #748 "QLever does not find query plan in JOIN with predicate path"
QLever does not find a query plan ("BAD QUERY: Could not find a suitable execution tree ...") for the following query. It requires a join with the result of a predicate path query.  If a star is added after the `wdt:P279`, it works. It also works, if the `/` is replaced by ` ?tmp . ?tmp `.

[code]

https://qlever.cs.uni-freiburg.de/wikidata/jczmjR

[2022-08-22 20:21] hannahbast commented on #748
PS: This was broken by 2c2e4f3aabbf61f4d6ca1f5c6387564c06dda286 ("Simplify the code for computing the seed row in the query planner")

[2022-08-22 20:29] shakti-rajput opened #750 "Build failing by docker"
I tried setting up qlever using simple steps to build using docker as given in the documentation of Docker and guide on quickstart.

export QLEVER_HOME=/local/data/qlever
mkdir $QLEVER_HOME
cd $QLEVER_HOME
git clone --recursive -j8 https://github.com/ad-freiburg/qlever qlever-code
cd qlever-code
docker build -t qlever .   [Getting error in this last step]

I recently saw the changes in this file.

[2022-08-22 20:30] shakti-rajput commented on #750
@Qup42

[2022-08-22 21:15] joka921 commented on #750
Hi,
I think that your machine ran out of memory and killed one of the compiler processes (That's how I read the `kill signal terminated` stuff.
How much RAM and what kind of CPU (how many cores/hardware threads) are you using?
Maybe you can reduce the degree of parallelism used to compile in the Dockerfile
(replace the `ninja` command at the end of line 19 to `ninja -j <numThreads>` where `numThre

[2022-08-22 21:38] shakti-rajput commented on #750
Hello,
Thanks for replying so fast. I have an I7 10th generation. 8 cores. 16 Logical Cores. @2.20 GHz. 16 GB RAM.
In your comment " is smaller than your CPU count," are u referring to the number of cores?

[2022-08-22 22:15] joka921 commented on #750
I would suggest you try out. I think on your machine, the default (`ninja` without arguments) runts 16 threads, which might be too much for 16GB of RAM, especially if other stuff is still running on the machine. Maybe try `ninja -j8` or `ninja -j4` (less threads will increase the compilation time, but decrease the amount of memory used and therefore the probability of crashes like this.
Let me kno

[2022-08-22 22:43] hannahbast commented on #750
You should really use https://github.com/ad-freiburg/qlever-control , as is also recommended in the QLever README.md

If you use QLever via docker, you don't have to compile anything.

[2022-08-23 01:05] shakti-rajput commented on #750
Thank you, @joka921.
This slight modification worked. `ninja -j8` for me.

[2022-08-23 01:47] shakti-rajput commented on #750
I was trying to use qlever commands provided on the page, but it was not recognizing the qlever as the command in terminal.

Now also, even after successfully running `docker build -t qlever .` I am not able to run any qlever command.
It is displaying the sudo: qlever: command not found. Not sure how to start it in local.

I arranged the folder structure in the way as mentioned in the qlever-contr

[2022-08-23 02:48] hannahbast commented on #750
The instructions say: "Download the qlever script anywhere you like and call it once with the full path."

[2022-08-23 07:32] WolfgangFahl commented on #745
Having a proper error message is helpful. Thx for fixing this.

[2022-08-23 08:28] shakti-rajput commented on #750
Thank you It worked. I was able to understand from ReadMe.

After completion, I got this message.

[code]

[2022-08-23 08:41] shakti-rajput commented on #750
Can we include this in the documentation of https://github.com/ad-freiburg/qlever/blob/master/docs/quickstart.md?

(replace the ninja command at the end of line 19 to ninja -j <numThreads> where numThreads is smaller than your core count.  Maybe try `ninja -j8`
To avoid developer's error?

[2022-08-23 15:40] hannahbast commented on #750
I have used the occasion to overhaul the way the qlever script provides help: https://github.com/ad-freiburg/qlever-control/commit/7fd542a449304591f436c193045a700e078b72e6

The quickstart.md script is outdated

[2022-08-23 20:22] #750 closed

[2022-08-23 21:18] #748 closed

[2022-08-25 21:26] hannahbast opened #757 "OPTIONAL messes up the query planning"
The query https://qlever.cs.uni-freiburg.de/wikidata/gOjCOE fails, but without the OPTIONAL it works. The error message is `BAD QUERY (Could not find a suitable execution tree ...`.

When moving the OPTIONAL to the end, the full `rdfs:label` predicate is scanned (instead of `@de@rdfs:label` because of the language FILTER) and the query fails with an OOM error.

[2022-08-26 14:38] joka921 commented on #757
This slightly minimized query shows the same behavior.

[2022-08-26 14:38] joka921 commented on #757
https://qlever.cs.uni-freiburg.de/wikidata/284gzJ

[2022-08-27 03:43] hannahbast opened #761 "Query planning takes 20s for WHERE clause with 14 triples"
The query planning of the following query on PubChem takes 20 seconds. I also tried with commit d23f4c (from 15.08.2022, before the three PRs that clean up the query planner) and there it was even slower. The five scans with fixed predicate and object also do not seem to be the problem: the runtime info reports operation times < 50ms for each of them.

[code]

https://qlever.cs.uni-freiburg.de/pub

[2022-08-27 22:00] Qup42 commented on #694
Your example query now returns a useful error.
We're also very near to having the whole query parser ported to ANTLR. Once this is finished the error messages should be consistent for all parts of the query excepet for one (Filters).
Then plan is to then also return the exact position of the clause that caused the error. The clause could then e.g. be highlighted directly in the Query itself. This

[2022-08-27 22:17] Qup42 opened #763 "Querying all Triples on Wikidata Fails"
The query `SELECT * WHERE {
?s ?p ?o
}
LIMIT 1000` currently fails when executed on the [Wikidata](https://qlever.cs.uni-freiburg.de/wikidata/4MfMlQ). The other Indexes seem to all work. (Though I don't what version they are running.) @joka921
`ASSERT FAILED (success; in ../src/engine/IndexScan.cpp, line 446, function void IndexScan::computeFullScan(ResultTable*, const auto:123&) const [with auto:

[2022-08-28 00:29] hannahbast commented on #763
For me, the query works fine.

I just restarted the index several times to test your latest PR (which BTW works fine). So maybe that was the only problem?

[2022-08-28 12:15] Qup42 commented on #763
Seems like that was the problem. Now it works again.

[2022-08-28 12:15] #763 closed

[2022-08-29 04:59] WolfgangFahl opened #768 "Strange ASSERT FAILED (valueIdBegin < valueIdEnd; ... message"
https://qlever.cs.uni-freiburg.de/wikidata/iemHST
[code]
![grafik](https://user-images.githubusercontent.com/1336221/187126257-3c772fed-ae00-41a7-b034-3a3fedeb357e.png)

[code]

[2022-08-29 08:18] hannahbast commented on #768
Here is a more compact (and more readable) form of the query: https://qlever.cs.uni-freiburg.de/wikidata/DbhFlA

I have experimentally build a version of Wikidata over the weekend, where all IRIs that start with `<http` reside on disk. The QLever instance then uses 20 GB less RAM. I have just reverted to the previous version of Wikidata, where only a more restricted set of IRIs reside on disk (see

[2022-08-29 16:08] hannahbast opened #770 "Simple malformed query crashes the server"
The following malformed query crashes the server:

[code]

https://qlever.cs.uni-freiburg.de/dblp/kKEzZP

[2022-08-29 19:52] hannahbast commented on #770
@Qup42 I just verified that this was introduced by #749 . Can you have a look at what seems to be the problem here? Other special characters like \ also crash the backend.

[2022-08-29 20:27] Qup42 commented on #770
The problematic code is in the Error Handling introduced by #741. Specifically `ANTLRErrrorHandling.cpp:37`. #749 enabled that this code could be reached from the parsing of WHERE clauses. This is a generic error that occurs when the Lexer throws an error.
I had wrongly assumed that `antlr4::Token* offendingSymbol` will not be null. If only I had read the documentation. The fix should not take tha

[2022-08-31 21:12] #757 closed

[2022-08-31 22:52] #770 closed

[2022-08-31 22:54] joka921 commented on #768
Yes,
The current implementation of the external vocabulary leads to all kinds of errors and oddities, especially when on-disk and in-RAM entries are compared/filtered.
Thanks for pointing this out, another reason to tackle this issue soon.

[2022-09-14 15:35] kiufta opened #789 "CMake install does nothing"
Dear programmers,

I'm not dockering, but trying to package for my distro.

`cmake --install .` is doing nothing.

What is the designated way to install qlever?

[code]

[2022-09-14 19:10] joka921 commented on #789
Hi,
Typically one only needs `IndexBuilderMain` and `ServerMain` which are self-contained. The other binaries are mostly for internal debugging and performance tests.
What are you trying to package for which distro, and why do you have the need for that? QLever is still under heavy development, so we recommend always using recent versions.
We also recommend using the `qlever control script` (see l

[2022-09-23 09:58] joka921 commented on #694
Ok , so in the meantime we consistently use the new parser, which directly complains on missing prefixes with a useful message.
So I think I can close this issue now.

[2022-09-23 09:58] #694 closed

[2022-09-23 16:29] hannahbast opened #799 "Quotes not escaped in result for CONSTRUCT queries"
The following `CONSTRUCT` query on the `olympics` dataset yields an invalid triple, where the literal contains unescaped string:

[code]

Here is the result (a single line):

[code]

[2022-09-23 16:30] hannahbast commented on #799
@RobinTF @joka921 Is this an old bug or did we introduce this sometime after the PRs for the `CONSTRUCT` queries?

[2022-09-23 16:32] hannahbast opened #800 "?s ?p ?o with FILTER ignores the FILTER"
The following query on `olympics` ignores the `FILTER`:

[code]

[Try it on QLever](https://qlever.cs.uni-freiburg.de/olympics/nHk8zW)

[2022-09-23 17:06] RobinTF commented on #799
@hannahbast I'm pretty sure I considered this when implementing this originally (see #536) and the mechanism seems to still be in place:
https://github.com/ad-freiburg/qlever/blob/dd61a6aa620b6e6b00e9f7eff6900dd8b4de7859/src/parser/RdfEscaping.cpp#L265-L278
However here's my guess on what's going on:
The TSV format is not as well-specified like CSV, therefore there are fewer rules regarding escapi

[2022-09-23 22:22] hannahbast commented on #799
@RobinTF Thanks a lot for the quick answer, Robin. I just realized that I made a slight mistake when I posted the issue. I wanted to paste the curl request with `text/turtle` accept header. **This gives the same mistake**, so it's not about TSV. I guess, the question then is why the code you quoted is not activated.

[code]

[2022-09-24 00:51] RobinTF commented on #799
@hannahbast

My escaping code is only designed to deliver RDF values via CSV or TSV so that a parser get's the original values back. What's happening here though is that the data is already invalid RDF in the first place. I don't know where exactly in the code the rdf tags are created, but the step that creates the RDF tag is not properly applying the escaping the RDF standard defines.

TL;DR My c

[2022-09-24 00:55] hannahbast commented on #799
@RobinTF Are you saying that `"  Gabrielle Marie \"Gabby\" Adcock (White-)"@en` (this is how the literal looks like in the input data) is an invalid RDF literal?

[2022-09-24 01:51] RobinTF commented on #799
@hannahbast
`" Gabrielle Marie \"Gabby\" Adcock (White-)"@en` is a valid RDF quoted literal due to the escape sequences being properly used.
What I'm saying is that the string ` Gabrielle Marie "Gabby" Adcock (White-)` is most likely stored in internal memory and when turning the string back into a literal the code forgets to escape the string again and simply adds quotes to both ends.
This has no

[2022-09-25 01:51] hannahbast opened #801 "Umlaut in REGEX string causes ASSERT failure"
When typing a string with an Umlaut, the respective AC query fails with the following error message:

[code]

[2022-09-28 05:42] LorenzBuehmann opened #802 "Wrong result when evaluating subquery with same variable names in and outside of subquery"
Hi all,

I guess you're having a bug in how you evaluate subqueries resp. how you scope the variables?

Setup is QLever Docker installed two days ago via the CLI tool you provide,

Query (I know it's not necessary to use a subquery here):
[code]
returns always 1 for each binding of `?cls`

When I change the variable `?s` to e.g. `?x`name inside the subquery (or I would change the name in the outer

[2022-09-29 21:43] #802 closed

[2022-09-30 03:05] hannahbast opened #804 "Bug in visibility of variables of subquery"
With the current master, the following query erroneously results in a visibility error. I presume that the error was introduced by PR #803. Without the BIND, the error disappears. It's important that the expression from the BIND contains a variable from the previous part of the query.

[code]

https://qlever.cs.uni-freiburg.de/wikidata/fwuxdN

[2022-10-01 14:07] #801 closed

[2022-10-12 22:17] #800 closed

[2022-10-24 13:22] pchampin opened #816 "SPARQL endpoint does not support content-type parameters"
Here is an HTTP exchange with qlever (using the docket image)
given the following request
[code]
qlever responds with
[code]

It should recognize that the content-type *is indeed* one of the supported content-types...

[2022-10-25 07:15] davidotte opened #817 "Optimization of queries with COUNT()"
As discussed with Prof. Bast, I need one of the following two changes:

1. Optimization of queries using COUNT() such that the data is not always materialized. For example the query
[code]
    could be faster.

1. Alternatively, since I only need to know if the count of a value is in a specific range of values, the ability to use LIMIT on subqueries would be sufficient.

[2022-11-07 19:29] #816 closed

[2022-11-07 19:45] hannahbast commented on #804
Fixed by #805

[2022-11-07 19:45] #804 closed

[2022-11-09 15:16] #817 closed

[2022-11-18 20:22] WolfgangFahl opened #826 "Random sample of data with QLever"
I tried the stackoverflow answer:

https://stackoverflow.com/a/71098894/1497139

on QLever

https://qlever.cs.uni-freiburg.de/dblp/EO7Sva

and got:
[code]
what would be a workaround for QLever?

[2022-11-18 20:25] WolfgangFahl opened #827 "Number in Values Clause are not supported"
Experimenting with a work-around for #826 I tried:

https://qlever.cs.uni-freiburg.de/dblp/1uXcLH

and failed

[2022-11-18 21:36] hannahbast commented on #827
@WolfgangFahl The dblp instance was not running with the latest QLever version yet, not it does. Your query still doesn't work for three reasons:

1.  QLever does not yet support the `RAND()` function. It would be easy to add to #766, however.
2. Your `?sortKey` is not used anywhere in the query. You would have to sample it in the `SELECT` clause and then `ORDER BY` the alias.
3. In the dblp data,

[2022-11-18 21:39] hannahbast commented on #826
There is already a PR that shows how to implement a built-in function: https://github.com/ad-freiburg/qlever/pull/766 .

The work per function is small. `RAND()` is a bit special because it has no arguments, yet it is supposed to return a different number every time. But that is also feasible.

[2022-11-20 12:08] hannahbast commented on #826
I have no added an implementation of `RAND()` to #766 to show how it can be done. It's currently active on QLever DBLP . Here is a variant of your query above that now works (and gives 10 random publications from 2017): https://qlever.cs.uni-freiburg.de/dblp/ZVlM57

[2022-11-20 17:14] WolfgangFahl commented on #826
@hannahbast thank you so much - this very helpful for my research work. I intend to run the title thru search general internet search engines and see what "back-pointers" i get. I'd expect that some pointers link back to dblp and others will point to the publisher or homepage of the affiliated authors or their institutions. Whether my assumption/hypothesis is valid and what else will be found is t

[2022-11-24 07:27] WolfgangFahl opened #831 "Unclear error message: CHECK FAILED (The requested feature requires a loaded patterns file (do not specify the --no-patterns option for this to work)"
for
https://qlever.cs.uni-freiburg.de/wikidata/RD4vYU

i get:
[code]
while the [Wikidata Query Service](https://query.wikidata.org/#%23%20get%20the%20most%20frequently%20used%20properties%20for%0A%23%20Q6256%3Acountry%0APREFIX%20rdf%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0APREFIX%20rdfs%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0APREFIX%20schema%3

[2022-11-24 07:30] WolfgangFahl commented on #831
Since https://qlever.cs.uni-freiburg.de/wikidata/6BCjbV (the query from #289) also doesn't work i assume that currently the QLever engine is not configured properly.

[2022-11-26 02:11] hannahbast commented on #831
@WolfgangFahl Sorry, we were testing something and forgot to revert to the stable version.

By the way, there is no need to write ql:had-predicate anymore.

Your first query can be written as follows: https://qlever.cs.uni-freiburg.de/wikidata/VetnWB

Your second query can be written as follows: https://qlever.cs.uni-freiburg.de/wikidata/GvKIsS

[2022-11-28 05:02] WolfgangFahl opened #833 "qlever dblp server frequent failures"
Over this weekend the qlever dblp endpoint has been unavailable for quite some periods of time.
In the meantime the service is used by some of my systems such as http://sotsog.bitplan.com so that not only
the CI for these systems fails but also the public facing demos.

![grafik](https://user-images.githubusercontent.com/1336221/204197492-63d44bc7-756d-4961-8342-ce6e63af0a5c.png)

It would be grea

[2022-11-28 05:43] hannahbast commented on #833
@WolfgangFahl Thanks for the notification, I realized already on Friday that the service is down. The reason is that the RDF from DBLP has been invalid since then. I have already notified the DBLP team and they are working on a fix.

That being said, I should fix my update script such that it reverts to an older instance, when the latest data has problems. Actually, I thought it did that automatic

[2022-11-29 02:37] hannahbast commented on #833
The dblp export has been fixed and https://qlever.cs.uni-freiburg.de/dblp is back to normal again.

[2022-11-29 02:37] #833 closed

[2022-11-30 17:35] ktk opened #835 "Exception: Triples should have at least one variable."
I'm running a query in the form of:

[code]

And it complains about:

`"exception": "BAD QUERY (Triples should have at least one variable. Not the case in: {s: <https://ld.stadt-zuerich.ch/statistics/000201>, p: <http://www.w3.org/1999/02/22-rdf-syntax-ns#type>, o: <https://cube.link/Cube>}; in /app/src/engine/QueryPlanner.cpp, line 756, function std::vector<QueryPlanner::SubtreePlan> QueryPlanner

[2022-11-30 20:45] hannahbast commented on #835
@ktk Thanks for the feedback, Adrian. Yes, as the error message says, QLever currently does not support triples without variables in the query. It would be easy to implement though: if the triple exist, ignore it, and if it does not exist, the associated query part has an empty result. We wonder: is there an actual use case for this or are you just curious?